{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <link rel="icon" href="{% static 'img/favicon.ico' %}">


</head>

<body>
    <!--START OF NAVIGATION BAR -->

    <div class="page-header">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'discover' %}">PhotoLand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li id="discover" class="nav-item">
                    <a class="nav-link" href="{% url 'discover' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photogallery' %}">Explore Gallery</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobgallery' %}">Explore Job Offers</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'examples' %}">Example</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!--
          <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
          <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Password">
        -->
                <div class="btn-toolbar">
                    {% if user.is_authenticated %}
                    <a class="profile-button" href="{% url 'newUser' %}">{{ user.username }}<i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                    <a class="signup-button btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}" type="button">Logout</a>
                    {% else %}
                    <a class="login-button btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}" type="button">Log in</a>
                    <a class="signup-button btn btn-outline-danger my-2 my-sm-0" href="{% url 'signup' %}" type="button">Sign up</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </nav>
    <!-- END OF NAVBAR -->

    <div class="wrapper">
        <div class="contentbox">{% block content %} {% endblock %}</div>
        {% if user.is_authenticated %}
        <div id="sidebar">
            <div class="header">
                <h3>Friends</h3>
            </div>
            <div class="avatar"></div>
            <div class="avatar"></div>
            <div class="avatar"></div>
        </div>
        {% endif %}
    </div>


    <!-- BEGINNING OF FOOTER -->
    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Contact Us</h3>

                <h6>Tel: +31650855588</h6>
                <h6>info@photoland.com</h6>
            </div>
            <div class="col-sm-4">
                <h3>Follow us:</h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
            <div class="col-sm-4" style="margin: auto">
                <h1> PhotoLand </h1>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% if user.is_authenticated %}
    <script>
    $( document ).ready(function() {
      $('.contentbox').addClass('side-active');
      $('footer').addClass('side-active');
    });
    </script>
    {% endif %}

    {% block script %}
    {% endblock %}

</body>

</html>
