{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block head %}
<title>PhotoLand: Feed</title>
{% endblock %}

{% block content %}
<div id="fh5co-main">
  <div class="container-fluid">
    <div class="row">
      <div id="fh5co-board" data-columns>
        {% for x in posts %}
        {% if postType %}
        <div class="item">
          <div class="animate-box">
            <a href="images/img_1.jpg" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="{% static 'img/Photos/img_1.jpg' %}" alt="Free HTML5 Bootstrap template"></a>
          </div>
          <div class="fh5co-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?</div>
        </div>
        {% else %}
        <div class="job">
         <div class="row">
          <div class="col-md-4">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/350x200" alt="">
            </a>
          </div>
            <div class="col-md-5 jobtext">
              <h3>Project One</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
              <a class="btn btn-primary" href="#">Reply</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
