{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- START OF PROFILE PICTURE -->
      <div class="Profile-info container">
        <div class="row">
          <div class="pp col-md-6">
        <!--    {% if uploaded_file_url %}

              <img class="profile-pic" src="{% static 'img/emptyPP.png' %}" alt="Profile Picture">
            -->
              <img class="profile-pic" src="{{ user.profile.profilepicture }}" alt="Profile Picture">
          <!--  {% else %}
              <img class="profile-pic" src="{% static 'img/emptyPP.png' %}" alt="Profile Picture">
            {% endif %}
           -->
          </div>
          <div class="artist-info col-md-6">
            <h2> {{ user.username }} </h2>
            <h5 style="color: #737373"> {{ user.first_name }}{{ user.last_name }}</h5>
            <br>
            <div>
              <a id="UploadPP" type="button" href="{% url 'simple_upload' %}" class="profile-btn btn btn-primary">Upload Profile Picture</a>
              <!--<button type="button" class="btn btn-danger">Like</button>-->
              <button type="button" class="profile-btn btn btn-success">Share</button>
              <button type="button" class="profile-btn btn btn-dark" data-toggle="modal" data-target="#myModal">Contact</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">E-mail</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{ user.email }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>

<!-- START OF IMAGE UPLOAD-->


<br>
<br>






    <!-- START OF CARD GROUPS ROW1-->
      <div class="card-deck cards-sm-6 cards-md-4 cards-lg-3">
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="{% static 'img/upload.png' %}" alt="Upload your image here">
          <div class="card-body">
            <div id="edit" contenteditable="true">
              <h4 class="card-title">Click here to add a Title</h4>
              <p class="card-text">and a description or price tag</p>
            </div>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            <div class="card-btn text-center">
              <br>
              <br>
              <a id="UploadImage" type="button" href="{% url 'simple_upload' %}" class="btn btn-primary">Upload</a>
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="{% static 'img/upload.png' %}" alt="Card image cap">
          <div class="card-body">
            <div id="edit" contenteditable="true">
              <h4 class="card-title">Click here to add a Title</h4>
              <p class="card-text">and a description or price tag</p>
            </div>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            <div class="card-btn text-center">
              <br>
              <br>
              <a id="UploadImage" type="button" href="{% url 'simple_upload' %}" class="btn btn-primary">Upload</a>
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="{% static 'img/upload.png' %}" alt="Card image cap">
          <div class="card-body">
            <div id="edit" contenteditable="true">
              <h4 class="card-title">Click here to add a Title</h4>
              <p class="card-text">and a description or price tag</p>
            </div>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            <div class="card-btn text-center">
              <br>
              <br>
              <a id="UploadImage" type="button" href="{% url 'simple_upload' %}" class="btn btn-primary">Upload</a>
            </div>
          </div>
        </div>
      </div>
    <!-- END OF CARD GROUPS ROW1-->
    <!-- START OF CARD GROUPS ROW2-->
      <div class="card-deck">
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="{% static 'img/upload.png' %}" alt="Card image cap">
          <div class="card-body">
            <div id="edit" contenteditable="true">
              <h4 class="card-title">Click here to add a Title</h4>
              <p class="card-text">and a description or price tag</p>
            </div>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            <div class="card-btn text-center">
              <br>
              <br>
              <a id="UploadImage" type="button" href="{% url 'simple_upload' %}" class="btn btn-primary">Upload</a>
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="{% static 'img/upload.png' %}" alt="Card image cap">
          <div class="card-body">
            <div id="edit" contenteditable="true">
              <h4 class="card-title">Click here to add a Title</h4>
              <p class="card-text">and a description or price tag</p>
            </div>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            <div class="card-btn text-center">
              <br>
              <br>
              <a id="UploadImage" type="button" href="{% url 'simple_upload' %}" class="btn btn-primary">Upload</a>
            </div>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="{% static 'img/upload.png' %}" alt="Card image cap">
          <div class="card-body">
            <div id="edit" contenteditable="true">
              <h4 class="card-title">Click here to add a Title</h4>
              <p class="card-text">and a description or price tag</p>
            </div>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
            <div class="card-btn text-center">
              <br>
              <br>
              <a id="UploadImage" type="button" href="{% url 'simple_upload' %}" class="btn btn-primary">Upload</a>
            </div>
          </div>
        </div>
      </div>
    <!-- END OF CARD GROUPS ROW2-->

    <br>
    <br>
    <br>
  {% endblock %}
