{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> New Post </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formStyles.css' %}">


    <link rel="icon" href="{% static 'img/favicon.ico' %}">

  </head>

  <body>

        <form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
          <div class="form" style="margin-top: 100px;">
            <h4>Upload your Image</h4>
            {{ form.as_p }}
            <p>in euros (€)</p>
            <br>
            <br>
            <button type="submit" class="save btn btn-default">UPLOAD</button>
            <br>
            <br>
            <a type="button" class="profile-btn btn btn-danger" href="{% url 'newUser' %}">Cancel</a>
          </div>
        </form>


  </body>
</html>
