{% extends 'blog/base.html' %}

{% block head %}
<title>PhotoLand</title>
{% endblock %}

{% block content %}
<div class="container">
  <ul class="userlist">
  {% for user in users %}
    <li>
      <div class="userlist-flex">
        <a class="userlist-link" href="{% url 'userprofile' pk=user.username %}">
          <div class="userlist-item">
            <img class="search-avatar" src="/static/media/{{ user.profile.profilepicture }}">
            <span>{{ user.username }}</span>
          </div>
        </a>
        {% if request.user != user %}
        <a class="btn follow-btn" href="{% url 'follow' pk=user.username %}">Follow</a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  {% if not users %}
  <h3>Sorry, that didn't bring up any results.</h3>
  {% endif %}
  </ul>
</div>
{% endblock %}

{% block script %}
{% endblock %}
