body {
    background-color: lightblue;
    padding: 0 0 0 0;
    font-weight: 200;
}

.contentbox {
    display: block;
    width: 100%
}

hr {
    margin: 0;
}

.btn-toolbar .btn {
    margin-right: 5px;
}

.hide {
    display: hide;
}

.active a {
    color: lightblue !important;
}

.card-btn1:hover {
    background-color: #ff6666;
}

.imageupload {
    margin-left: 50px;
    margin-right: 50px;
}

.login-form {
    background-color: #535353;
    padding: 1em 0 0;
    color: #EFEFEF;
    display: none;
}

.signup-form {
    background-color: #535353;
    padding: 1em 0 0;
    color: #EFEFEF;
    display: none;
}

.login-form .container {
    padding: 0 0.5em;
    max-width: 450px;
    margin-bottom: -1px;
}

.signup-form .container {
    padding: 0 0.5em;
    max-width: 450px;
    margin-bottom: -1px;
}

.login-form h4 {
    font-weight: 400;
}

.login-form input {
    width: calc(100% - 1em);
    border: none;
    height: 2em;
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0 0.5em;
}

.signup-form input {
    width: calc(100% - 1em);
    border: none;
    height: 2em;
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0 0.5em;
}

.login-form .sign-in-button {
    background-color: #303030;
    color: #C3FF00;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    width: 97%;
    height: 2.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.signup-form .sign-up-button {
    background-color: #303030;
    color: #C3FF00;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    width: 93%;
    height: 2.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/*
.button-active-login {
  color: #C3FF00;
  background-color: #006600;
}
.button-active-signup {
  color: #ff4d4d;
  background-color: #b30000;
}

.button-deactive-login {
  color: #C3FF00;
  background-color: #323D41;
}
.button-deactive-signup {
  color: #C3FF00;
  background-color: #323D41;
}
*/

.jumbotron {
    background-color: #8E2D88;
    color: white;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn {
    font-size: 18px;
    color: #ffffff;
    padding: 12px 22px;
    -webkit-appearance: none !important;
}

.container {
    margin: 4% auto;
}

.description-box {
    margin: auto;
    background-color: #323D41;

}

.description {
    margin: auto;
    background-color: #fff;
}

#icon {
    width: 80px;
    height: auto;
    margin: 5% auto;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

h5 {
    color: #666666;
}

h6 {
    color: #999999;
}

.starter-info {
    letter-spacing: 0.06em;
}


.card-img-top {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-deck {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.card-btn2 {
    min-width: 90px;
}

.profile-pic {
    margin-left: 40px;
    margin-top: 70px;
    border-radius: 50%;
    width: 50%;
    height: auto;
}

.artist-info {
    margin-top: 150px;
}

footer {
    width: 100%;
    background-color: #323D41;
    padding: 5%;
    color: #FFF;

}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover {
    color: #666666;
    text-decoration: none;
}


@media (max-width: 650px) {
    .carousel-caption {
        /* Removes caption and button on small screens */
        display: none;
    }

    #icon {
        /* Reduces picture size on small screen */
        max-width: 150px;
    }
    h2 {
        /* Reduces text size on small screens */
        font-size: 1.7em;
    }
    .card-deck {
        padding: 0px;
        margin-left: 40px;
    }
    .profile-btn {
        font-size: 10px;
    }
}

@media (max-width: 720px) {

    #slide-caption {
        display: none;
    }
    .profile-pic {
        margin-left: 40px;
        margin-top: -100px;
        border-radius: 50%;
        width: 25%;
        height: auto;
    }
}

@media (max-width: 575px) {
    .card-title {
        font-size: 22px;
    }
}

@media (min-width:575px) and (max-width: 825px) {
    .card-title {
        font-size: 13px;
    }
}

@media (max-width: 950px) {
    /*icons in the footer*/
    .fa {
        font-size: 25px;
        padding: 10px;
    }


}

@media (max-width: 1200px) {
    .card-btn1 {
        font-size: 10px;
        padding: auto;
        margin-bottom: 5px;
    }
    .card-btn2 {
        font-size: 10px;
        padding: auto;
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .card-btn1 {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .card-btn2 {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .profile-pic {
        width: 80%;
        height: auto;
    }
}

/*
@media (max-width: 500px){

  .profile-pic {
    margin-left: 40px;
    margin-top: -500px;
    border-radius: 50%;
    width:35%;
    height: auto;
  }

}
*/

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 150px);
    margin-top: 66px;
}

#sidebar {
    padding-top: 76px !important;
    width: 120px;
    background-color: #343a40;
    color: white;
    position: fixed;
    right: 0;
    height: 100%;
    padding: 10px;
    display: block;
    box-shadow: 0px 0px 4px #00000094;
}

#sidebar .avatar {
    height: 100px;
    width: 100px;
    margin: 10px auto;
    background: red;
    position: relative;
    padding: 10px;
    border-radius: 100%;
}

#smallAicon {
    margin: 0px;
    padding: 5px!important;
    position: relative;
    top: 2px;

}

#smallAname {
    color: whitesmoke !important;
    position: relative!important;
    top: 6px;

}

#dropdown1 {

    position: relative !important;
    bottom: 2px;
    top: 0px;
    transition: 100ms;
    padding: 3px!important;
    cursor: pointer;
}

.Adropdown {
    position: fixed;
    background-color: whitesmoke;
    top: 66px;
    right: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 120px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

#dropdownitem {
    color: black !important;
    font-weight: 500;
    padding-bottom: 2px;
    width: 120px!important;
    padding-left: 8px;
    height: 40px!important;


}

#dropdownitem:hover {
    text-decoration: none!important;
}





.hide {
    display: none;
}


#dropdownul {
    list-style: none;
    text-decoration: none;
    position: relative;
    right: 0px;
    top: 0px;
    padding-left: 0px!important;
    height: 100%!important;
    margin-bottom: 0px!important;

}

.customnavbar {
    height: 66px;
}

#dropdowncontainer1 {
    width: 100%;
    border-bottom: 1px solid #e0e0e0!important;
    height: 40px;
    margin-bottom: 0px!important;
    display:flex!important;


}

#dropdowncontainer2 {
    width: 100%;
    display:flex!important;
    height: 40px;
    margin-bottom: 0px!important;

}

 #dropdowncontainer2:hover {
    width: 100%;
    border-bottom: 1px solid #e0e0e0!important;
    background-color: #d1d3d2;
    cursor: pointer;

}

#dropdowncontainer1:hover {
   width: 100%;
   border-bottom: 1px solid #e0e0e0!important;
   background-color: #d1d3d2;
   cursor: pointer;

}

.dropdownlink {
  text-align: center;
  display: flex;
  padding: 0 !important;
}

.dropdownlink span {
  margin: auto;
}

@media (max-width: 767px) {
    .customnavbar {
        height: auto;
        min-height: 66px;
    }

    .mobiletoolbar {
        display: none;
    }

    .mobiledropdown {
        display: block!important;
    }

    .fa {
        font-size: 25px!important;
    }

    #sidebar {
        display: none;
    }

    .side-active {
        margin-right: 0px!important;
    }





}


.post-card {
    margin: 10px auto;
    border-radius: 5px;
}

.post-body {
    background: #464646;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.post-text {
    color: #f9f9f9;
    margin: auto;
}



.mobiledropdown {
    display: none;
}

@media (max-width: 950px) {
    .fa-user-circle-o {
        font-size: 25px!important;
    }
}

.photodesc {
    font-weight: 100 !important;
}

.uploadbutton {}

.profileavatar {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin: auto;
}

.profilename {
    position: relative;
    font-size: 30px!important;
    font-weight: 500;
    padding-left: 15px!important;
    text-transform:uppercase;
    margin: auto;
    right: 3px;

}

.deletedownloadpost {
  position: relative;

}

.image10 {
  width: 200px!important;
  height: 200px!important;
}

.downloadimg {
  color: black !important;
  float: right!important;
  margin: 0 5px;
  display: inline;
  padding: 0px!important;
}

.deleteimg {
  color: black !important;
  float: right;
  padding: 0px;
  position: relative;
  bottom:1px;
  margin-right: 5px;
}




.avatarandname {
    margin: auto;
}

.profilegallery {
    background-color: whitesmoke!important;
    padding-top: 1px!important;
    border-radius: 3px;

}

.container10 {
  margin: auto;
  width: 200px!important;
}

avatardiv {
  margin: auto;
}


#profileflex {
    display: flex;
    align-content: space-around;
    align-items: center;
    padding: auto;
    flex-wrap: wrap;
    margin: auto;
}

#ppcontainer {
    align-self: flex-start;
}

@media (max-width: 411px) {
    .avatardiv {
        margin: auto;
    }
    .namediv {
        margin: auto;
    }
}

.avatardiv {
    margin: auto!important;
}

.namediv {
  margin: auto!important;
}

.photoprice {
    margin: 0px!important;
    margin-top: 6px!important;
    font-weight: 450!important;
    color: #d12c2a!important;
    display: inline-block!important;
    float:right;
    margin-right: 5px!important;
    margin-top: 0px!important;



}

.lookslike {
  margin-right:auto!important;
  margin-left:auto!important;
  margin-bottom: 7px!important;
  text-align: center;
}

.phototitle {
    margin: 0px!important;
    line-height: 17px!important;
    font-weight: 450!important;
    display: inline-block!important;
    margin-left: 5px!important;
}

.fh5co-desc {
    padding: 0px!important;
    width: 100%;
    height:auto;
    padding-bottom: 0px!important;
    padding-top: 0px!important;


}

.titleandprice {
    width: 100%;
    display: inline-block;


}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
  background-color: #008CBA;
  border-radius: 50%;

}

.container10:hover .overlay {
  opacity: 0.7;
}

.text10 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container10 {
  position: relative;
  width: 50%;
  margin: auto;

}

input {
  float: none;
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background: #45494e;
  color: whitesmoke;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

.userlist {
  list-style: none;
  padding: 0;
}

.userlist li {
  background: whitesmoke;
}

.search-avatar {
  height: 45px;
  width: 45px;
  border-radius: 7px;
  object-fit: cover;
  margin: 5px;
}

.userlist-item {
  width: 100%;
  height: 100%;
}

.userlist-link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.userlist-link:hover {
  text-decoration: none;
  color: gray;
}
